header {
  padding-top: 5%;
}

#img img {
  border-radius: 50%;
  width: 7%;
}

#social {
  padding-top: 2%;
}

#social i {
  border: solid transparent 10px;
  color: blue;
}

#links {
  border
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 3%;
  padding-top: 1%;
  border-top: solid 1px black;
}
